* {
    padding: 0;
    margin: 0;
    
}

#navbar {
    height: 60px;
    background-color: #0f1111;
    border: 5px solid whitesmoke;
}

button {
    background-color: #f08804;
}

#logo {
    font-size: 25px;
    color: #f08804;
}

a {
    margin-right: 200px;
    text-decoration: none;
    color: aliceblue;
}

#content {
    display: inline-block;
    margin: 25px;
    display: flex;
    height: 550px;
}

.contentBox {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 25px;
}

footer {
    height: 50px;
    padding-top: 5px;
    color: antiquewhite;
    background-color: #0f1111;
    text-align: center;
}